.containerForm {

    padding: "0px 0px 0px 0px";
    margin: "0px 0px 0px 0px" !important;
}

.formUpperContent {
    text-align: center;
}

.formContainer {
    text-align: center;
    border: solid #888C8C 1px;
    border-radius: 26px;
    height: 248px;
    width: 374px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}


.loginBtnLabel{
    font-family: 'Muli';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 143% */
    
   
    
    /* M3/sys/light/on-primary */
    
    color: #1D192B;
    }
    
