.containerForm {

    padding: "0px 0px 0px 0px";
    margin: "0px 0px 0px 0px" !important;
}

.formUpperContent {
    text-align: center;
}

.formContainer {
    text-align: center;
    border: solid #888C8C 1px;
    border-radius: 26px;
    height: 300px;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}