


.loginImageCont {
    background-image: url("/imgBg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    
}

.textWrap {
    margin-left: 340px;
    padding-top: 102px;
    padding-left: 80px;

}

.hedOne {
    font-family: 'Muli';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 53px;
    /* or 166% */
    color: #000000;
    margin: 0px 0px 0px 0px;

}

.hedTwo {
    font-family: 'Muli';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 53px;
    /* or 166% */
    color: #4CC1BE;
    margin: 0px 0px 0px 0px;

}

.formContainerTop {
    background-color: #FFFBFF;
}

.hedOneLogo {
    font-family: 'Muli';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 36px;
    /* line-height: 25px; */
    /* identical to box height, or 129% */
    text-align: center;
    color: #000000;
    margin: 0px 0px 0px 0px;
    margin-top: 24px

}

.hedTwoLogo {
    font-family: 'Muli';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 28px;
    /* identical to box height, or 127% */
    text-align: center;
    /* Aequella 100 */
    color: #10CFC9;
    margin: 0px 0px 0px 0px;
    margin-top: 8px


}

.textLogo{
    text-align: center;
}

.uperContian{
    text-align: center;
    margin-top: 50px;
}

.checkboxCont{
    display: flex;
    margin-left: 22px;
    margin-bottom: 15px;
    margin-top: 39px;
}



.logoCont {
    margin-top: 104px;
    /* margin-left: 5%; */
}

.formCont {
    margin-top: 10px;
    border-radius : 30px;
    border-width:  1;
    border-color: black;
}

.pwText {
    /* background-color: #000000; */
/* M3/sys/light/on-surface-variant */
width: 100%;

}

.pwText1 {
    font-family: 'muli';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* or 133% */
/* width: 262px; */
text-align: justify;
align-items: center;
align-items: center;
justify-content:center ;
margin-left: 35px;
margin-right: 35px;
margin-top: 4px;
/* M3/sys/light/on-surface-variant */

color: #49454F90;
}


.remember {
    /* width: 102px; */
/* height: 24px; */

/* M3/body/large */

font-family: 'muli';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;

/* M3/sys/light/on-surface-variant */

color: #49454F;
    
}

.loginButton {
    background: #10CFC9;
}

.forgotpw {
    color: #0EB9B3 !important;
/* M3/label/large */

font-family: 'muli'!important;
font-style: normal;
font-weight: 700 !important;
font-size: 14px !important;
line-height: 20px !important;
/* identical to box height, or 143% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.02em;

/* M3/sys/light/primary */


text-decoration: inherit;
align-items: center;
margin-top: '15%';
margin-left: '5%'

}

.fwpw {
    margin-top: 20px;
    margin-bottom: 50px
}

.registerButton {
    font-family: 'muli';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.02em;

/* M3/sys/light/primary */

color: #0EB9B3;
}

.loginBtnLabel{
font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.02em;
margin-top: 2px;
}

@media (max-width:1366px){
    .textWrap{
        margin-left: 0px;
    }
    .loginImageCont {
        background-image: url(/imgBg.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 900px;
    }
}

@media (max-width:600px){
    .formParentContainer{
        box-shadow: none !important;
        border: none !important;
    }
}
